.title_1{
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-2);
}
.title_2{
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-3);
}
.title_3{
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-3);
}
.title_4{
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-1);
}
.title_5{
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-2);
}

.text_1{
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-4);
}
.text_2{
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-3);
}
.text_3{
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-4);
}
a{
    text-decoration: none;
}